      @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#header {
  height: 250px;
  background-color: rgb(57, 117, 218);
  border-color: darkblue;
  border-style: solid;
  border-width: 5px;
  width: 99.3%;
}

h1 {
  margin: 0px;
  color: white;
  float: left;
  padding-top: 40px;
  font-size: 100px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -2px -2px 0 darkblue, 2px -2px 0 darkblue, -2px 2px 0 darkblue, 2px 2px 0 darkblue;
}

h2 {
  margin: 0px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 40px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}
h3 {
  margin: 0px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}



#header-logo {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  width: 175px;
  height: 175px;;
}

#header-heroes {
  float: right;
  border-radius: 25px;
  height: 230px;
  margin-top: 7px;
  margin-right: 7px;
  border-style: solid;
  border-color: darkblue
}

#main-container {
  border-style: solid;
  border-width: 5px;
  border-color: darkblue;
  height: 450px;
  width: 99.4%;
}

#menu-container {
  overflow: auto;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  width: 20%;
  height: 440px;
  background-color: rgb(57, 117, 218);
}

#hero-container {
  overflow: auto;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  width: 29%;
  height: 440px;
  background-color: rgb(57, 117, 218);
}

#info-container {
  overflow: auto;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  width: 49.07%;
  height: 440px;
  background-color: rgb(57, 117, 218);
}

#footer {
  background-color: rgba(0, 0, 0, 0.0);
  height: 30px;
  text-align: center;
  padding-top: 5px;
  color: darkblue;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#main-nav {
  border-style: solid;
  border-color: darkblue;
  border-radius: 25px;
  margin-left: 5px;
  width:  80%;
}

#main-nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#main-nav li {
  display: run-in;
  width: auto;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
  font-size: 20px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-decoration: none;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}

#main-nav li a{
  text-decoration: none;
  color: white;
}

#main-nav li a:hover {
  border-radius: 25px;
  background-color: blue;
  border-color: darkblue;
  border-style: solid;
}

#heroes {
  width: 98%;
  height: 290px;
  border-color: black;
  border-style: solid;
  margin-top: 5px;
}

#heroes:nth-child(even) {
  background-color: rgb(0, 95, 255);
}

#heroes:nth-child(odd) {
  background-color: rgb(57, 117, 218);
}

#hero-image {
  width: 35%;
  height: 290px;
  float: left;
}

#hero-name {
  color: white;
  float: left;
  width: 37%;
  padding-left: 10px;
  font-size: 18px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}


#hero-1 {
  border-style: solid;
  border-color: darkblue;
  border-radius: 15px;
  word-wrap: normal;
  color: white;
  width: 55%;
  float: left;
  margin-left: 10px;
  padding-left: 5px;
  font-size: 10px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}

.hero-2 {
  border-style: solid;
  border-color: darkblue;
  border-radius: 15px;
  word-wrap: normal;
  color: white;
  width: 95%;
  float: left;
  margin-left: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}

#info {
  padding-left: 2px;
  margin-left: 10px;
  color: white;
  float: left;
  width: 15%;
  padding-left: 10px;
  font-size: 22px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}

#info:hover{
  border-radius: 25px;
  background-color: blue;
  border-color: darkblue;
  border-style: solid;
}

#teamImage {
  width: 78%;
  height: 75%;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 25px;
  border-style: solid;
  border-color: darkblue
}

.form-rate{
  width: 99%;
  display:run-in;
}

.rate
{
    display: inline-block;
    border: 0;
    float: left;
    margin-left: 10px;
    position: relative;
}
/* Hide radio */
.rate > input[type='radio']
{
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label.lblRating
{
    float: right;
}

/* The star of the show */
.rate > label.lblRating:before
{
    display: inline-block;
    font-size: 4.0rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label.lblRating:last-child:before
{
    content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate label.half:before
{
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label.lblRating, /* color current and previous stars on checked */
label.lblRating:hover, label.lblRating:hover ~ label.lblRating /* color previous stars on hover */
{
	color: #ffd900;
}

/* Hover highlights */
input:checked + label.lblRating:hover, input:checked ~ label.lblRating:hover, /* highlight current and previous stars */
input:checked ~ label.lblRating:hover ~ label.lblRating, /* highlight previous selected stars for new rating */
label.lblRating:hover ~ input:checked ~ label.lblRating /* highlight previous selected stars */
{
	color: #f0cc00;
}

.formMessage {
  padding-left: 2px;
  border-style: solid;
  border-color: darkblue;
  border-radius: 5px;
  margin-left: 10px;
  width: 97%;
  height: 200px;
  resize: none;
}

.submit-btn{
  color: white;
  padding-left: 2px;
  border-style: solid;
  border-color: darkblue;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 22px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}

.submit-btn:hover{
  background-color: blue;
}

#reviews{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
  border-color: darkblue;
  border-radius: 5px;
}

.hero-3 {
  word-wrap: normal;
  color: white;
  width: 95%;
  margin-left: 3px;
  padding-left: 5px;
  font-size: 20px;
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  text-shadow: -1px -1px 0 darkblue, 1px -1px 0 darkblue, -1px 1px 0 darkblue, 1px 1px 0 darkblue;
}
